.buttonsBox {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.buttonsBox button {
  background-color: var(--loginBlue);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.352);
  cursor: pointer;
  transition: all 0.5s;
}
.buttonsBox button:active {
  transform: translateY(5px);
  box-shadow: none;
}
.buttonsBox button:hover {
  transform: scale(1.1);
}
.createLinkBtn {
  position: relative;
}
.clipBoardMsg {
  color: black;
  font-size: 12px;
}
.orderBySection {
  margin-bottom: 20px;
}
.listsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 20px;
}
.clickHere {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.listCard {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  /* transform: scale(1); */
  transition: 0.7s;
}
.listCard:hover {
  transform: scale(1.1);
}
.historyBtn {
  background-color: var(--loginBlue);
  border: none;
  outline: none;
  width: 100px;
  height: 22px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.152);
  cursor: pointer;
}

@keyframes fadeAway {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@media (max-width: 450px) {
  .buttonsBox button {
    width: 80px;
    height: 40px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.352);
    cursor: pointer;
    transition: all 0.5s;
    font-size: 12px;
  }
}
