.homeContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}
.contextContainer {
  display: flex;
  min-height: 80vh;
  width: 90vw;
  /* box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.4); */
  margin-top: 10px;
}
/* ^ right side*/
.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 20px;
  padding-bottom: 20px;
}
.sloganContainer {
  display: flex;
  justify-content: center;
  width: 80%;
}
.slogan {
  font-size: 25px;
  font-weight: 450;
  margin: 0;
  text-align: center;
  line-height: 40px;
}
.whatWeOfferContainer {
  background: var(--gradient-color);
  max-height: 100%;
  width: 80%;
  padding: 8px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.whatWeOfferContainer h3 {
  text-align: center;
}
.offeringList ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offeringList li {
  list-style: none;
  display: flex;
  align-items: center;
}
.offeringList svg {
  color: #fff;
  min-width: 40px;
  font-size: 1.5rem;
  border-left: 1px solid;
}
.offeringList p {
  margin-right: 7px;
  font-size: 0.7rem;
  margin: 0;
  padding-right: 2px;
}
.gettingStartedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@keyframes hoverBtn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.gettingStartedBtn button {
  background-color: var(--loginBlue);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  transition: all 0.1s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.352);
  animation: hoverBtn 2s ease-in-out infinite alternate;
}
.gettingStartedBtn button:active {
  transform: translateY(5px);
  box-shadow: none;
  animation: none;
}

.gettingStartedBtn button:hover {
  cursor: pointer;
}
/*^ left side */
.leftSide {
  display: flex;
  justify-content: center;
  width: 50%;
}
.imgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Align items to the start of the cross axis */
  overflow: hidden; /* Hide any overflow */
}

.homePageImg {
  width: 350px; /* Set a fixed width for the image */
  object-fit: cover; /* Ensure the image covers the entire container */
}

@media screen and (max-width: 450px) {
  .contextContainer {
    display: flex;
    flex-direction: column;
  }
  .rightSide {
    width: 90%;
  }
  .whatWeOfferContainer {
    width: 100%;
  }
  .leftSide {
    width: 90%;
  }
}
