/*^ header */
.header {
  display: flex;
  height: 5vh;
}
.header div {
  display: flex;
  justify-content: space-around;
}
/*^ navbar */
.navbar {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.navbar li {
  list-style-type: none;
}
