.productSearchBarItemContainer {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}
.SingleGroceryListContainer {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ^Main list render */
.mainGroceryListContainor {
  margin-top: 10px;
  display: flex;
  width: 50vw;
  flex-direction: column;
  border: 2px solid black;
  height: 75vh;
  margin: auto;
  gap: 5px;
  overflow-y: scroll;
}
/*^listTitle */
.listTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
.listTitle h2 {
  margin: 1px;
}
/*^ main list item*/
.MainGroceryListItem {
  display: flex;
  gap: 20px;
  position: relative;
  min-height: 60px;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}
.addToList {
  color: var(--addColor);
  cursor: pointer;
}
.removeFromList {
  color: var(--deleteColor);
  cursor: pointer;
}
.productAmountContainer {
  display: flex;
  justify-content: space-evenly;
  width: 60px;
}
.productAmountContainer i {
  cursor: pointer;
}
.MainGroceryListItem input {
  cursor: pointer;
}
.MainGroceryListItem img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;
}
/*^ */
.MainGroceryListItem p {
  margin: 0;
  max-width: 45%;
}
.checkedItem {
  text-decoration-line: line-through;
}
/*& */
@media (max-width: 450px) {
  .SingleGroceryListContainer {
    flex-direction: column;
    align-items: center;
  }
  .MainGroceryListItem {
    font-size: 15px;
  }
  .leftContainer {
    order: 2; /* Places the list below the search bar */
  }

  .theList {
    width: 100%; /* Ensures the list takes up the full width */
    max-width: 100%; /* Ensures the list takes up the full width */
  }

  .MainGroceryListItem img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
  }
  .mainGroceryListContainor {
    width: 80vw;
    height: 55vh;
  }
}
