.myGroupsPageContainer {
  display: flex;
  flex-direction: column;
}

.loadingGifContainer {
  display: flex;
  justify-self: center;
  align-items: center;
}
.loadingGif {
  width: 200px;
  margin: auto;

  margin-top: 20px;
}
.newGroupBtnBox {
  margin: 10px 10px 15px 10px;
}
.newGroupBtn {
  background-color: var(--loginBlue);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.352);
}
/*^  group card box */
.groupsCardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin: 0px 20px;
}
/* ^ group card*/
.groupCard {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  /* transform: scale(1); */
  transition: 0.7s;
}
.groupCard:hover {
  transform: scale(1.1);
}
