@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --blue: #025dd4;
  --gradient-color: linear-gradient(to bottom, #025dd4, #6eadbd 80%);
  font-family: "Varela Round", sans-serif;
  --loginBlue: #1976d2;
  --bgColor: rgba(2, 93, 212, 0.1);
  --addColor: #4caf50;
  --removeColor: #ffeb3b;
  --deleteColor: #f44336;
}
* {
  box-sizing: border-box;
}
body {
  direction: rtl;
}
body,
#root {
  min-height: 100vh;
}
body {
  margin: 0;
}
a {
  cursor: pointer;
}
button {
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}
